<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h3 class="text-center"><%= document.category %></h3>
      <form action="/edit" method="post">
        <input type="hidden" name="id" value="<%= document.id %>">
        <div class="mb-3">
          <label for="newCategory" class="form-label">Judul Materi Baru</label>
          <input type="text" class="form-control" id="newCategory" name="newCategory" value="<%= document.category %>" required>
        </div>
        <button type="submit" class="btn btn-primary">Simpan</button>
      </form>
    </div>
  </div>
</div>
